*{
  font-family: Fantasy;
}

header{
  background-color: #3c5773 ;
  color: white;
  height: 80px;
  width: 100%;
}

header > h1{
float: left;
margin-left: 5%;
font-weight: bold;
}

header > nav{
  float: right;
  margin-left: 50px;
  font-size:20px;
  margin-top: 1.6%;
  margin-right: 10%;
}

nav> a{
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}



header > nav > a:hover{
  color: #15d382;
  text-decoration: none;
}

#div2, #sec3{
  background-color: #15d382;
  width: 100%;
  color: white;
  text-align: center;
}

#div2 > #imgp{
  padding-top:90px;
}

#div2 > p > img{
  margin: 0 auto;
  display: block;
    border-radius: 50%;
    vertical-align: middle;
}

#div2> h1 , #sec3 > h1{
text-align: center;
color: white;
font-weight: bold;
font-size: 70px;
}

#div2> div{
  color: white;
  text-align: center;
  font-size: 30px;
}

#div2> #p2{
  color:white;
  font-size: 20px;
  text-align: center;
  padding-bottom: 90px;
  }

#sec2, #sec4{
  background-color: white;
  padding-bottom: 70px;
  text-align: center;
}

#sec2 > #div3, #sec4 > #dev1{
  margin-top: 3%;
  text-align: center;
}

#sec2 > #div3 > h1, #sec4 > #div1 > h1{
  font-weight: bold;
  font-size: 50px;
}

#icondiv{
  text-align: center;
  font-size: 30px;
}

#imgdiv{
  text-align: center;
}

#imgdiv > div{
  margin-top: 10px;
}

#imgdiv > div > img{
  margin-left: 10px;
}

#imgdiv > div > img:hover{
  outline: 5px solid #3185d8;
}

#sec3 > h1{
  padding-top: 90px;
}

#sec3 > #d2{
  padding-top: 40px;
}

#sec3 > #d2 > .center{
margin-left: 7%;
margin-right: 7%;
}

.center #td{
  text-align: left;
  font-size: 20px;
  padding-left: 15px;
}

#sec3 > #btndiv{
  position: relative;
  margin-top: 50px;
  border: 3px solid white;
  border-radius: 6px;
  margin-left: 40%;
  margin-right: 40%;
}

#sec3 > #btndiv:hover{
  border-color: #3185d8;
  color: #3185d8;
  }

#sec3 > #btndiv > input[type=button]{
  background-color: transparent;
  font-size: 35px;
  outline: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
 /*padding: 15px 15px 15px 15px;*/

}

#sec3 > #btndiv > i{
  font-size: 35px;
}

#sec3{
  padding-bottom: 90px;
}

#sec4 > #div1{
  padding-top: 90px;
}

#sec4 > #formdiv{
  padding-top: 30px;
}

#sec4 > #formdiv > form >  input, #sec4 > #formdiv > form > textarea{

  font-size: 25px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid #c2cbc7;
  padding: 20px 20px 20px 20px;
  color: #59625e;
}

#sec4 > #formdiv > form >  input:hover, #sec4 > #formdiv > form > textarea:hover{
  border: 2px solid #3185d8;
  border-radius: 5px;
}

#sec4 > #formdiv > form >  #subbtn > input[type=submit]{
  font-size: 25px;
  background-color: #15d382;
  border:none;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 3px solid #15d382;
}

#sec4 > #formdiv > form >  #subbtn{
color: white;
border-radius: 6px;

border:none;
/*margin-right: 65%;
margin-left: 28%;*/
background-color: white;
margin: 0 auto;
margin-top: 1%;
}

#sec4 > #formdiv > form >  #subbtn > input:hover{
  border: 3px solid #3185d8;
  color: #3185d8;
  }

#sec5{
  background-color: #3c5773;
  padding-bottom: 110px;
}

#sec5 > div {
  padding-top: 90px;
  margin-right: 5%;
  margin-left: 5%;
}

#tb2 td , #tb2 th {
  text-align: center;
  font-size: 20px;
  color: white;
}

#tdiv > i{
  font-size: 40px;
}

#tdiv{
  display: inline;
  border: 2px solid white;
  border-radius: 45px;
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#tdiv:hover{
  border: 2px solid #15d382;
  color: #15d382;
}

#tb2{
  border-color: white;
  border-collapse: separate;
  margin: 0 auto;
}


#sec5 > div{
  position: relative;
  margin-left:10%;
  margin-right: 10%;
}

#s3d1{
  display: inline-block;
  margin-left: 1%;
  color: white;
}

.s3c2{
 padding-left: 300px
}

.s3c3{
 padding-left: 30px
}

#th3, #td3{
  padding-left: 50px;
}

#td2 , #td1, #td3{
  padding-top: 30px;
}

footer{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer > div{
  color: white;
  font-size: 15px;
  text-align: center;
}


@media only screen and (max-width: 830px) {
  header {
    width: 100%;
    height: 150px;
  }

  header > nav{
    margin-left: 0%;
    margin-top: 0%;
  }

  #imgdiv>div>img{
    width: 100%;
  }
  input, textarea{
    width: 100%;
  }

  #div2 > h1{
      font-size:40px;
    }

  #imgp > img{
    width:30%;
    margin-left: 10%;
    margin-right: 10%;
  }

  #btndiv{
    width: 50%;
    display:block;
  margin:0.4em auto;

  }
  #btndiv > i , #btndiv > input{
      width: 100%;
    }

  /*#subbtn{
    width:50%;
    display:block;
    margin:0 auto;
  }*/

  #tb2 td, #tb2 tr, #tb2, .center td, .center tr{
    display: block;
    width: 100%;
  }

  #tb2 tr, .center tr{
    margin-bottom: 15px;
  }

  #tb2 th, .center th{
    display: none;
  }

  #tb2 td, .center td{
    text-align: center;
    /*padding-left: 50%;*/
    position: relative;
  }

  .center td{
    padding-top: 10px;
  }


  #tb2 td:before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
  }

#sec3 > #btndiv{
  margin-right: auto;
  margin-left: auto;
}


}


@media only screen and (max-width: 1472px) {
  #sec3 > #btndiv{
    margin-right: 30%;
    margin-left: 30%;
  }
  #subbtn{
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  @media only screen and (max-width: 580px) {
    #sec3 > #btndiv > input[type=button]{
      font-size: 20px;
      text-align: center;
      }

      #sec3 > #btndiv > i{
        font-size: 20px;
        text-align: center;
        }

        #subbtn{
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  @media only screen and (max-width: 768px) {
    header > h1{
      padding-top: 15px;
    }

    header{
      height: 90px;
    }
    header > nav{
      margin-left: 1%;
      margin-right: 20px;
      padding-top: 45px;
    }

    #imgp > img{
      margin-right: auto;
      margin-left: auto;
    }

    #subbtn{
      padding-left: 250px;
      padding-right: 250px;
    }
  }

  @media only screen and (max-width: 414px)  {
    header{
      height: 130px;
    }

    header > nav{
      margin-left:0%;
      margin-top: 0%;
      padding-top: 0px;
    }

    header > nav > a{
      font-size: 15px;
    }

    #div2 > h1{
      font-size:40px;
    }

    #tdiv > i{
      font-size: 20px;
    }

    #tdiv{
      border-radius: 20px;
      font-size: 31px;
    }

    #subbtn{
      padding-left: 150px;
      padding-right: 150px;
    }
  }

@media only screen and (max-width: 375px)  {
    header{
      height: 135px;
    }

    header > nav{
      margin-left:0%;
      margin-top: 0%;
      padding-top: 12px;
    }

    header > nav > a{
      font-size: 15px;
    }

    #div2 > h1{
      font-size:40px;
    }

    #tdiv > i{
      font-size: 20px;
    }

    #tdiv{
      border-radius: 20px;
      font-size: 31px;
    }

    #subbtn{
      padding-left: 120px;
      padding-right: 120px;
    }
  }

@media only screen and (max-width: 360px) {
    header{
      height: 130px;
    }

    header > nav{
      margin-left:0%;
      margin-top: 0%;
    }

    header > nav > a{
      font-size: 15px;
    }

    #div2 > h1{
      font-size:40px;
    }

    #tdiv > i{
      font-size: 20px;
    }

    #tdiv{
      border-radius: 20px;
      font-size: 31px;
    }

    #subbtn{
      padding-left: 100px;
      padding-right: 100px;
    }
    /*#subbtn > input[type=submit]{
      font-size: 5px;
  }*/

  }
